name: Rust

on:
  push: {}
  pull_request: {}

env:
  RUST_BACKTRACE: 1

jobs:
  test:
    name: Test Rust ${{ matrix.rust }} on ${{ matrix.os }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
        - { rust: 1.56.0 }
        - { rust: stable }
        - { rust: beta }
        - { rust: nightly }
    steps:
    - uses: hecrj/setup-rust-action@v1
      with:
        rust-version: ${{ matrix.rust }}
    - uses: actions/checkout@v2
    - run: cargo test --verbose --no-default-features
    - run: cargo test --verbose
    - run: cargo test --verbose --all-features
